body {
    font-family: Arial,sans-serif;
    padding: 20px;
}

form input,form select,form button{
    margin: 20px;
    padding: 6px;
}

table{
    margin-top: 20px;
    border-collapse: collapse;
}

table,th,td{
    border: 1px solid black;
    padding: 8px;
}