body {
    font-family: Arial,sans-serif;
    padding: 20px;
    background-color: #f4f6f8;
}
h1{
    margin-bottom: 20px;
}

.summary{
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
}

.card{
    flex: 1;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.income {
    background-color: #2ecc71;
}

.expense {
    background-color: #e74c3c;
}

.balance {
    background-color: #3498db;
}


form {
    margin-bottom: 20px;
}

form input,
form select,
form button{
    margin: 5px;
    padding: 8px;
}

table{
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th {
    background-color: #3498db;
    color: white;
}

th,td{
    border: 1px solid #ddd;
    padding: 10px;
}